body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.my-card{
  margin: 20px;
  border-radius: 5px 5x 5px 5px;
}

.my-card-title{
  font-size: 24px;
  margin: 0px;
}

.my-card-info{
  margin-top: 10px;
  min-height: 100px;
}

.my-card-subtitle{
  font-size: 16px;
  margin: 0px;
}

.my-card-link{
  color: #9999FF;
}